USE [master]
GO
/****** Object:  Database [BCC]    Script Date: 4/6/2021 3:33:53 PM ******/
CREATE DATABASE [BCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BCC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BCC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BCC]
GO
/****** Object:  Table [dbo].[Achat]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achat](
	[Id_Acheteur] [int] NOT NULL,
	[Id_Produit] [int] NOT NULL,
	[Prix] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Id] [int] NOT NULL,
	[Nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie_Produit]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie_Produit](
	[Id_Produit] [int] NOT NULL,
	[Id_categorie] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commisaire Priseur]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commisaire Priseur](
	[Id] [int] NOT NULL,
	[Id_Produit] [int] NOT NULL,
	[Id_Personne] [int] NOT NULL,
 CONSTRAINT [PK_Commisaire Priseur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estimation]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estimation](
	[Id_Commisaire] [int] NOT NULL,
	[Id_Vendeur] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lot]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lot](
	[Id] [int] NOT NULL,
	[Id_Vente_Enchere] [int] NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Lot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personne](
	[Id] [int] NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Telephone] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Personne] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[Id] [int] NOT NULL,
	[Id_lot] [int] NOT NULL,
	[Prix_depart] [float] NOT NULL,
	[Description] [varchar](50) NULL,
	[Date_Vente] [datetime] NOT NULL,
	[Estimation] [float] NOT NULL,
	[estVendu] [binary](50) NOT NULL,
	[Prix_Reserve] [float] NOT NULL,
	[Region] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendeur]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendeur](
	[Id] [int] NOT NULL,
	[Id_Personne] [int] NOT NULL,
	[Id_produit] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vente_enchere]    Script Date: 4/6/2021 3:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vente_enchere](
	[Id_Vente_Enchere] [int] NOT NULL,
	[Date_Vente_Enchere] [datetime] NOT NULL,
	[Id_Lieu] [int] NOT NULL,
 CONSTRAINT [PK_Vente_enchere] PRIMARY KEY CLUSTERED 
(
	[Id_Vente_Enchere] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorie_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Categorie_Produit_Categorie] FOREIGN KEY([Id_categorie])
REFERENCES [dbo].[Categorie] ([Id])
GO
ALTER TABLE [dbo].[Categorie_Produit] CHECK CONSTRAINT [FK_Categorie_Produit_Categorie]
GO
ALTER TABLE [dbo].[Categorie_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Categorie_Produit_Produit] FOREIGN KEY([Id_Produit])
REFERENCES [dbo].[Produit] ([Id])
GO
ALTER TABLE [dbo].[Categorie_Produit] CHECK CONSTRAINT [FK_Categorie_Produit_Produit]
GO
ALTER TABLE [dbo].[Estimation]  WITH CHECK ADD  CONSTRAINT [FK_Estimation_Commisaire Priseur] FOREIGN KEY([Id_Commisaire])
REFERENCES [dbo].[Commisaire Priseur] ([Id])
GO
ALTER TABLE [dbo].[Estimation] CHECK CONSTRAINT [FK_Estimation_Commisaire Priseur]
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Lot] FOREIGN KEY([Id_lot])
REFERENCES [dbo].[Lot] ([Id])
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [FK_Produit_Lot]
GO
ALTER TABLE [dbo].[Vendeur]  WITH CHECK ADD  CONSTRAINT [FK_Vendeur_Personne] FOREIGN KEY([Id_Personne])
REFERENCES [dbo].[Personne] ([Id])
GO
ALTER TABLE [dbo].[Vendeur] CHECK CONSTRAINT [FK_Vendeur_Personne]
GO
ALTER TABLE [dbo].[Vendeur]  WITH CHECK ADD  CONSTRAINT [FK_Vendeur_Produit] FOREIGN KEY([Id_produit])
REFERENCES [dbo].[Produit] ([Id])
GO
ALTER TABLE [dbo].[Vendeur] CHECK CONSTRAINT [FK_Vendeur_Produit]
GO
USE [master]
GO
